
:root{
	--div_width:600px;
	--height:120px;
   }
*{
     margin: 0;
     padding: 0;
      
   }

.moon{
	position: absolute;
	top: 20%;
	left: 40%;
	transform: rotate(45deg);
	height: 75px;
	width: 75px;
	box-shadow: -5px 5px 0 4.5px white;
	border-radius: 50%;
   }

   .red{
	height: var(--height);
	width: var(--div_width);
	background-color: rgb(223,15,2);
	position: relative;
   }
   .blue{
	background-color: rgb(0, 132, 255);
	height: var(--height);
	width: var(--div_width);
   }
   .green{
	background-color: green;
	height: var(--height);
	width: var(--div_width);

   }
   .img{
	position: absolute;
	top: 33%;
	left: 48.5%;
   }